<%-  include('partials/head') %> 
<%-  include('partials/nav') %> 
<h1>Home Page <%= 'hello'.toUpperCase() %></h1>
<p>Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum</p>
<%-  include('partials/footer') %> 